#gameboard {
  width: 320px;
  height: 320px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 40px;
  height: 40px;
  position: relative;
}

.square svg {
  height: 30px;
  width: 30px;
  margin: 5px;
  position: relative;
  z-index: -9;
}
path {
    position: relative;
    z-index: -10;
}
.piece {
    position: relative;
    z-index: 9;
}

.beige {
  background-color: rgba(110, 110, 98);
}

.brown {
  background-color: rgba(169, 43, 43);
}
.black {
  fill: black;
}
.white {
  fill: #fff;
}
